version: '3.8'

services:
  dashboard:
    image: changchikai/soundphoto_dashboard:v1.0
    ports:
      - "8501:8501"
    restart: always
    volumes:
      - ./NoBuSystem_Mobile.db:/app/NoBuSystem_Mobile.db
    environment:
      db_path: /app/NoBuSystem_Mobile.db
    networks:
      - app-network
    env_file:
      - .env
networks:
  app-network:
    driver: bridge