version: '3.8'

services:
  dashboard:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    restart: always
    networks:
      - app-network
    env_file:
      - .env
  
networks:
  app-network:
    driver: bridge